html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-color: #14213d;
  border-width: 5px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  color: #14213d;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-size: 1.6rem;
  margin: 0 0 1.2rem 0;
  text-decoration: underline;
  text-decoration-color: #fca311;
  text-decoration-thickness: 0.2rem;
}

.cont {
  padding: 50px 150px 40px 150px;
  margin: 0;
}

/* Here begins the nav section */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  margin: 0 auto 0 auto;
  left: 5px;
  right: 5px;
  transition: all 2s ease 0s;
  padding: 2px 150px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: +1;
}

.logo {
  font-family: "Ubuntu", sans-serif;
}

.logo a {
  color: #14213d;
  font-size: 1.4rem;
}

.logo a:visited {
  color: #14213d;
}

.logo span {
  color: #fca311;
  margin: 0;
  padding: 0;
}

.nav {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fca311;
  text-decoration-thickness: 0.2rem;
}

.nav a {
  color: #14213d;
  margin-left: 2.5rem;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 8s ease 0s;
}
/* Here ends the nav section */

/* Here begins the presentation section */
.intro h2 {
  margin-right: 18rem;
  text-align: right;
  font-family: "Zilla Slab", serif;
}

.intro-hello {
  font-size: 1.5rem;
  color: #14213d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-developer {
  text-align: right;
  color: #fca311;
  font-size: 1.2rem;
  border-color: #14213d;
  border-style: solid;
  border-width: 0 0 6px 0;
  position: relative;
  bottom: 130px;
  z-index: -1;
}

.intro-developer h2 {
  margin: 2rem 18rem 1rem 1rem;
}

.intro-img {
  margin-left: 18rem;
  width: 18rem;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.intro-about {
  margin-left: 18rem;
  margin-right: 18rem;
  color: #14213d;
}

.intro-about p {
  font-size: 1.4rem;
}

.intro-about a {
  color: #14213d;
  text-decoration: underline;
  text-decoration-color: #14213d;
  text-decoration-thickness: 0.15rem;
}

.intro-about a:visited {
  color: #14213d;
}

.intro-about a:hover {
  text-decoration-color: #fca311;
}
/* Here ends the presentation section */

.skills i {
  font-size: 7rem;
  text-align: center;
}

.skills i:hover {
  color: #fca311;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
}

.skills p {
  font-size: 2rem;
  margin: 0.1rem 0 1rem 0;
}

.skills a:visited {
  color: #14213d;
}

.skills a {
  text-align: center;
  margin: 0;
}

.contact {
  border-color: #14213d;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin: 0 18rem 0 18rem;
}

.button {
  border-color: #14213d;
  background-color: #ffffff;
  border-width: 3px;
  border-radius: 1px;
  display: inline-block;
  color: #14213d;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 1.8rem 0;
}
.button:hover {
  font-size: 1.52rem;
  margin: 0 0 1.78rem 0;
}

.fa-envelope {
  margin-left: 10px;
}

.footer {
  margin: 0 18rem 0 18rem;
}

.footer h3 {
  color: #14213d;
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-color: #fca311;
  text-decoration-thickness: 0.2rem;
}

.container-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.container-logo i {
  color: #14213d;
  font-size: 2rem;
}

/* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
} */
