html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  border-width: 5px;
  border-style: solid;
  background-color: #ffffff;
  border-color: #14213d;
  color: #14213d;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: right;
  font-family: "Zilla Slab", serif;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 25px 0;
  text-decoration: underline;
  text-decoration-color: #fca311;
  text-decoration-thickness: 2px;
  font-family: "Zilla Slab", serif;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i {
  font-family: "Montserrat", sans-serif;
}

.cont {
  padding: 30px 150px 15px 150px;
  margin: 0;
}

/* Here begins the nav section */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  margin: 0 auto 0 auto;
  left: 5px;
  right: 5px;
  transition: all 2s ease 0s;
  padding: 2px 150px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: +1;
}

.logo {
  font-family: "Montserrat", sans-serif;
}

.logo a {
  color: #14213d;
  font-size: 25px;
}

.logo a:hover {
  text-decoration: none;
}

.logo a:visited {
  color: #14213d;
}

.logo span {
  color: #fca311;
  margin: 0;
  padding: 0;
}

.nav {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fca311;
  text-decoration-thickness: 2px;
}

.nav a {
  color: #14213d;
  margin-left: 40px;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 8s ease 0s;
}
/* Here ends the nav section */

/* Here is a space div */
.space {
  height: 85px;
}

/* Here begins the presentation section */
.intro {
  display: grid;
  grid-template-areas: "photo name" "photo title";
}

.name {
  grid-area: name;
  color: #14213d;
  font-size: 50px;
  align-self: end;
}

.title {
  grid-area: title;
  color: #fca311;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.photo {
  grid-area: photo;
  width: 300px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
/* Here ends the presentation section */

.line {
  height: 1px;
  border-style: solid;
  border-width: 2px;
  border-color: #14213d;
  position: relative;
  bottom: 110px;
  z-index: -1;
}

/* Here begins the intro section */
.about a {
  color: #14213d;
  font-weight: bold;
}

.about a:visited {
  color: #14213d;
}

.about a:hover {
  text-decoration-color: #fca311;
}
/* Here ends the intro section */

/* Here begins the skill section */
.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 70px;
}

.logos i {
  font-size: 70px;
  text-align: center;
}

.logos i:hover {
  color: #fca311;
}

.logos a {
  text-align: center;
  margin: 0;
  color: #14213d;
}

.logos a:visited {
  color: #14213d;
}

.logos p {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
/* Here ends the skill section */

/* Here begins the projects section */
.projects {
  margin-bottom: 30px;
}

.projects h5 {
  color: #14213d;
  font-family: "Montserrat", sans-serif;
}

.projects p {
  color: #14213d;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.carousel-control-next-icon {
  background-image: url();
  color: #14213d;
  font-size: 30px;
}

.carousel-control-prev-icon {
  background-image: url();
  color: #14213d;
  font-size: 30px;
}

.carousel-indicators li {
  background-color: #14213d;
}

.carousel-control-next-icon {
  color: #14213d;
}

.w-100 {
  padding: 20px 100px 40px 100px;
}

/* Here ends the projects section */

/* BEGIN OF CONTACT */
.contact {
  padding: 30px 150px 15px 150px;
  margin: 0;
  text-align: center;
}

.more-about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 70px;
  margin-top: 20px;
}

.more-about i {
  font-size: 60px;
  text-align: center;
}

.more-about i:hover {
  color: #fca311;
}

.more-about a {
  text-align: center;
  margin: 0;
}

.more-about a {
  color: #14213d;
}

.more-about a:visited {
  color: #14213d;
}

.more-about p {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
/* END OF CONTACT */

.line-2 {
  height: 1px;
  border-style: solid;
  border-width: 2px;
  border-color: #14213d;
  z-index: -1;
}

/* BEGIN OF FOOTER */
.footer {
  text-align: center;
  margin-top: 35px;
}

.footer a {
  text-decoration-color: #fca311;
  text-decoration: solid;
  color: #14213d;
}

.footer a:hover {
  text-decoration: none;
  color: #fca311;
}
/* END OF FOOTER */

/* ================================= 
  Media Queries
==================================== */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cont {
    padding: 25px 30px 10px 30px;
    margin: 0;
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 17px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    margin: 0 auto 0 auto;
    left: 5px;
    right: 5px;
    transition: all 2s ease 0s;
    padding: 2px 30px;
  }
  .logo a {
    color: #14213d;
    font-size: 20px;
  }

  .nav {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .nav a {
    color: #14213d;
    margin-left: 30px;
  }

  .name {
    grid-area: name;
    color: #14213d;
    font-size: 40px;
    align-self: end;
  }

  .title {
    grid-area: title;
    color: #fca311;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .photo {
    grid-area: photo;
    width: 150px;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
  }

  .logos i {
    font-size: 70px;
    text-align: center;
  }

  .logos p {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .contact {
    padding: 30px 30px 15px 30px;
    margin: 0;
    text-align: center;
  }

  .more-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-top: 20px;
  }

  .more-about i {
    font-size: 60px;
    text-align: center;
  }

  .more-about p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .line-2 {
    display: none;
  }
}

/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

} */
